.scientific-operations {
    background-color: rgba(252, 149, 71, .65);
}

.scientific-operations:hover {
    background-color: rgba(252, 149, 71, .85);
}

.scientific-operations:active {
    background-color: rgb(252, 149, 71, 255);
}